<launch>
    <arg name="map_yaml" default="$(find magni_nav_ros1)/maps/map.yaml"/>

    <!--
        <include file="$(find sick_tim)/launch/sick_tim571_2050101.launch">
        </include>
    -->

    <node name="sick_tim571_2050101" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">
        <param name="min_ang" type="double" value="-2.1" />
        <param name="max_ang" type="double" value="2.1" />
        <param name="intensity" type="bool" value="False" />
        <param name="range_max" type="double" value="25.0" />
        <param name="time_offset" type="double" value="-0.05" />
        <!-- default values: -->
        <!--
          <param name="skip" type="int" value="0" />
          <param name="frame_id" type="str" value="laser" />
          <param name="publish_datagram" type="bool" value="False" />
          <param name="subscribe_datagram" type="bool" value="false" />
          <param name="device_number" type="int" value="0" />
          <param name="range_min" type="double" value="0.05" />
        -->
    
        <!-- Older versions of the scanner firmware report an incorrect time_increment.
             If you get a warning about time_increment, uncomment this. -->
        <param name="time_increment" type="double" value="0.000185185" />
    </node>

    <node name="base_link_to_base_footprint_static_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint" />
    <node name="base_footprint_to_laser_static_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0.05 0 0 0 base_link laser" />
    <node name="laser_to_laser_mount_static_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0.05 0 0 0 laser laser_mount_link" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam command="load" file="$(find magni_nav_ros1)/param/amcl.yaml" />
    </node>

    <include file="$(find magni_nav_ros1)/launch/map_server.launch">
        <arg name="map_yaml" value="$(arg map_yaml)" />
    </include>

    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam command="load" file="$(find magni_nav_ros1)/param/costmap_common_params.yaml" ns="local_costmap" />
        <rosparam command="load" file="$(find magni_nav_ros1)/param/costmap_common_params.yaml" ns="global_costmap" />
        <rosparam command="load" file="$(find magni_nav_ros1)/param/local_costmap_params.yaml" />
        <rosparam command="load" file="$(find magni_nav_ros1)/param/global_costmap_params.yaml" />
        <rosparam command="load" file="$(find magni_nav_ros1)/param/dwa_local_planner_params.yaml"/>
        <rosparam command="load" file="$(find magni_nav_ros1)/param/base_local_planner_params.yaml"/>
        <rosparam command="load" file="$(find magni_nav_ros1)/param/move_base_params.yaml"/>
    </node>
    
    <!--<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>-->
</launch>
